@import "variables";
@import "reset";




body {
	background: #fff;
	font: {
	    family: 'ProximaNova-Regular', sans-serif;
	    size: 14px;
	}
	color: #333;
	line-height: 1.643;
}

.wrapper {

}
.header {

}

.headerTop {
	background: #eff0f3;
	&__inner {
		display: flex;
		min-height: 44px;
		.lang {
			margin: 0 0 0 117px;
		}
		.chooseCity {
			margin: 0 0 0 85px;
		}
		.registation {
			margin-left: auto;
		}
	}
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


.naviList {
	display: flex;
	height: 100%;
	align-items: center;
	&__item {
		margin-left: 36px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__item--item-02 {
		margin-left: 39px;
	}
	&__item--item-04 {
		margin-left: 34px;
	}
	&__item--item-05 {
		margin-left: 31px;
	}
	&__link {
		color: #777;
		font-size: 13px;
		text-decoration: none;
		&:hover {
			color: #fb2539;
		}
	}
}

.lang {
	display: flex;
	&__item {
		margin: 0 25px 0 0;
		display: flex;
		&--active {
			a {
				color: #333;
				&:before {
					background: #fb2539;
				}
			}
		}
	}
	&__link {
		color: #777;
		font-size: 13px;
		text-decoration: none;
		position: relative;
		display: flex;
		align-items: center;
		&:before {
			content: '';
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: transparent;
		}
	}

}

.chooseCity {
	display: flex;
	&__title {
		display: flex;
		align-items: center;
		color: #555;
		font-size: 13px;
		padding: 0 18px 0 0;
	}
	&__region {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #d8d9dc;
		border-width: 0 1px;
		padding: 0 10px;
		min-width: 79px;
		max-width: 119px;
	}
	&__location {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__arrow {
		width: 11px;
		height: 7px;
		background: url(../img/mx.png) no-repeat;
		display: inline-block;
		margin: 0 0 0 9px;
		position: relative;
		top: 2px;
		
	}
	&__current {
		max-width: 72px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
	
.registation {
	display: flex;
	&__item {
		margin-left: 38px;
		display: flex;
		align-items: center;
		&:first-child {
			margin-left: 0;
		}
		&--active {
			a {
				color: #fb2539;
			}
		}
	}
	&__link {
		color: #777;
		font-size: 13px;
		text-decoration: none;
		&:hover {
			color: #fb2539;
		}
	}
	&__lock {
		width: 11px;
		height: 14px;
		background: url(../img/mx.png) no-repeat;
		background-position: -30px 0;
		display: inline-block;
		margin: 0 6px 0 0;
		top: 1px;
		position: relative;
	}
}	

.headerMiddle {
	&__inner {
		display: flex;
		min-height: 112px;
		.searchForm {
			margin: 0 34px 0 32px;
			flex-basis: 348px;
		}
		.callWap {
			top: -2px;
		}
		.callBtn {
			align-self: center;
			flex-basis: 151px;
			margin: 0 0 0 14px;
			top: -2px;

		}
		.logo {
			flex-basis: 234px;
		}
		.menu {
			margin: 0 7px 0 auto;

		}
	}
}

.logo {
	background: #ffdc2c;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	img {
		position: relative;
		top: 7px;
		left: -3px;
	}
}

.searchForm {
	display: flex;
	align-items: center;
	&__form {
		border: 1px solid #c2c2c2;
		border-radius: 23px;
		padding: 0 48px 0 24px;
		position: relative;
		height: 46px;
		width: 100%;
	}
	&__field {
		width: 100%;
		line-height: 44px;
		border: 0;
		font-size: 13px;
		color: #999;
		&::placeholder {
			color: #999;
		}
	}
	&__search {
		width: 19px;
		height: 18px;
		background: url(../img/mx.png) no-repeat;
		background-position: -60px 0;
		position: absolute;
		right: 17px;
		top: 13px;
		border: 0;
		cursor: pointer;
	}
}

.callWap {
	display: flex;
	align-items: center;
	position: relative;
	&__inner {
		display: flex;
		cursor: pointer;
	}
	&__phone {
		font-size: 18px;
		font-family: 'ProximaNova-Bold';
	}
	&__icon {
		width: 11px;
		height: 7px;
		background: url(../img/mx.png) no-repeat;
		display: inline-block;
		margin: 0 0 0 8px;
		position: relative;
		top: 12px;
	}
}

.callBtn {
	border: 2px solid #ffdc2c;
	font-size: 13px;
	color: #333;
	text-decoration: none;
	padding: 4px 15px 5px 15px;
	position: relative;
	display: block;
}

.menu {
	display: flex;
	&__item {
		display: flex;
		align-items: center;
		&--garage {
			span {
				width: 26px;
				height: 25px;
				background-position: -90px 0;
			}	
		}
		&--chosen {
			margin-left: 28px;
			span {
				width: 24px;
				height: 21px;
				background-position: -120px 0;
				top: 3px;
			}	
		}
		&--comparison {
			margin-left: 24px;
			span {
				width: 32px;
				height: 23px;
				background-position: -150px 0;
				top: 2px;
			}	
		}
		&--basket {
			margin-left: 24px;
			span {
				width: 28px;
				height: 27px;
				background-position: -210px 0;
				top: -2px;
			}	
		}
	}
	&__icon {
		display: block;
		margin: 0 auto;
		background: url(../img/mx.png) no-repeat;
		position: relative;
	}
	&__link {
		position: relative;
		top: -2px;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 52px;
	}
	&__text {
		font-style: normal;
		font-size: 12px;
		color: #555;
		display: block;
		padding: 5px 0 0 0;
	}
	&__liked {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #fb2539;
		line-height: 16px;
		text-align: center;
		font-size: 10px;
		color: #fff;
		position: absolute;
		right: -9px;
		top: -5px;
		font-style: normal;
	}
}

.headerBottom {
	background: #3c3f43;
	&__inner {
		display: flex;
		min-height: 54px;
	}
	.catalog {
		flex-basis: 234px;
	}
	.mainNavi {
		flex-grow: 1;
	}
}

.catalog {
	background: #fb2539;
	padding: 0 20px 0 20px;
	display: flex;
	&__header {
		flex-basis: 100%;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #fff;
		justify-content: space-between;
	}
	&__title {
		font-size: 16px;
		position: relative;
		top: -1px;
	}
	&__burger {
		position: relative;
		top: -3px;
		width: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		span {
			background: #fff;
			height: 2px;
			margin: 4px 0 0 0;
			width: 100%;
			&:nth-child(1) {
				width: 85%;
			}
			&:nth-child(2) {
				width: 65%;
			}  
		}
	}
}

.mainNavi {

}
.mainMenu {
	display: flex;
	height: 100%;
	&__item {
		border-right: 1px solid #5a5e63;
		flex-basis: 25%;
		display: flex;
		&--stocks {
			i {
				width: 19px;
				height: 19px;
				background-position: -240px 0;
				margin-right: 9px;
				top: -1px;
			}
		}
		&--tests {
			i {
				width: 27px;
				height: 17px;
				background-position: -270px 0;
				margin-right: 10px;
				top: -2px;
			}
		}
		&--select {
			i {
				width: 21px;
				height: 21px;
				background-position: -300px 0;
				margin-right: 11px;
				top: -1px;
			}
		}
		&--news {
			i {
				width: 20px;
				height: 15px;
				background-position: -330px 0;
				margin-right: 11px;
			}
		}
	}
	&__link {
		display: flex;
		flex-basis: 100%;
		font-size: 13px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		align-items: center;
		justify-content: center;
	}
	&__icon {
		background: url(../img/mx.png) no-repeat;
		position: relative;
	}
}