html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'ProximaNova-Bold', sans-serif; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

ul, ol {
  list-style: none; }

p {
  margin: 10px 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

body {
  background: #fff;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.643; }

.headerTop {
  background: #eff0f3; }
  .headerTop__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 44px; }
    .headerTop__inner .lang {
      margin: 0 0 0 117px; }
    .headerTop__inner .chooseCity {
      margin: 0 0 0 85px; }
    .headerTop__inner .registation {
      margin-left: auto; }

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.naviList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .naviList__item {
    margin-left: 36px; }
    .naviList__item:first-child {
      margin-left: 0; }
  .naviList__item--item-02 {
    margin-left: 39px; }
  .naviList__item--item-04 {
    margin-left: 34px; }
  .naviList__item--item-05 {
    margin-left: 31px; }
  .naviList__link {
    color: #777;
    font-size: 13px;
    text-decoration: none; }
    .naviList__link:hover {
      color: #fb2539; }

.lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .lang__item {
    margin: 0 25px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .lang__item--active a {
      color: #333; }
      .lang__item--active a:before {
        background: #fb2539; }
  .lang__link {
    color: #777;
    font-size: 13px;
    text-decoration: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .lang__link:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: transparent; }

.chooseCity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .chooseCity__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #555;
    font-size: 13px;
    padding: 0 18px 0 0; }
  .chooseCity__region {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #d8d9dc;
    border-width: 0 1px;
    padding: 0 10px;
    min-width: 79px;
    max-width: 119px; }
  .chooseCity__location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
  .chooseCity__arrow {
    width: 11px;
    height: 7px;
    background: url(../img/mx.png) no-repeat;
    display: inline-block;
    margin: 0 0 0 9px;
    position: relative;
    top: 2px; }
  .chooseCity__current {
    max-width: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.registation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .registation__item {
    margin-left: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .registation__item:first-child {
      margin-left: 0; }
    .registation__item--active a {
      color: #fb2539; }
  .registation__link {
    color: #777;
    font-size: 13px;
    text-decoration: none; }
    .registation__link:hover {
      color: #fb2539; }
  .registation__lock {
    width: 11px;
    height: 14px;
    background: url(../img/mx.png) no-repeat;
    background-position: -30px 0;
    display: inline-block;
    margin: 0 6px 0 0;
    top: 1px;
    position: relative; }

.headerMiddle__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 112px; }
  .headerMiddle__inner .searchForm {
    margin: 0 34px 0 32px;
    -webkit-flex-basis: 348px;
        -ms-flex-preferred-size: 348px;
            flex-basis: 348px; }
  .headerMiddle__inner .callWap {
    top: -2px; }
  .headerMiddle__inner .callBtn {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    -webkit-flex-basis: 151px;
        -ms-flex-preferred-size: 151px;
            flex-basis: 151px;
    margin: 0 0 0 14px;
    top: -2px; }
  .headerMiddle__inner .logo {
    -webkit-flex-basis: 234px;
        -ms-flex-preferred-size: 234px;
            flex-basis: 234px; }
  .headerMiddle__inner .menu {
    margin: 0 7px 0 auto; }

.logo {
  background: #ffdc2c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px; }
  .logo img {
    position: relative;
    top: 7px;
    left: -3px; }

.searchForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .searchForm__form {
    border: 1px solid #c2c2c2;
    border-radius: 23px;
    padding: 0 48px 0 24px;
    position: relative;
    height: 46px;
    width: 100%; }
  .searchForm__field {
    width: 100%;
    line-height: 44px;
    border: 0;
    font-size: 13px;
    color: #999; }
    .searchForm__field::-webkit-input-placeholder {
      color: #999; }
    .searchForm__field:-ms-input-placeholder {
      color: #999; }
    .searchForm__field::placeholder {
      color: #999; }
  .searchForm__search {
    width: 19px;
    height: 18px;
    background: url(../img/mx.png) no-repeat;
    background-position: -60px 0;
    position: absolute;
    right: 17px;
    top: 13px;
    border: 0;
    cursor: pointer; }

.callWap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .callWap__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
  .callWap__phone {
    font-size: 18px;
    font-family: 'ProximaNova-Bold'; }
  .callWap__icon {
    width: 11px;
    height: 7px;
    background: url(../img/mx.png) no-repeat;
    display: inline-block;
    margin: 0 0 0 8px;
    position: relative;
    top: 12px; }

.callBtn {
  border: 2px solid #ffdc2c;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  padding: 4px 15px 5px 15px;
  position: relative;
  display: block; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__item--garage span {
      width: 26px;
      height: 25px;
      background-position: -90px 0; }
    .menu__item--chosen {
      margin-left: 28px; }
      .menu__item--chosen span {
        width: 24px;
        height: 21px;
        background-position: -120px 0;
        top: 3px; }
    .menu__item--comparison {
      margin-left: 24px; }
      .menu__item--comparison span {
        width: 32px;
        height: 23px;
        background-position: -150px 0;
        top: 2px; }
    .menu__item--basket {
      margin-left: 24px; }
      .menu__item--basket span {
        width: 28px;
        height: 27px;
        background-position: -210px 0;
        top: -2px; }
  .menu__icon {
    display: block;
    margin: 0 auto;
    background: url(../img/mx.png) no-repeat;
    position: relative; }
  .menu__link {
    position: relative;
    top: -2px;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 52px; }
  .menu__text {
    font-style: normal;
    font-size: 12px;
    color: #555;
    display: block;
    padding: 5px 0 0 0; }
  .menu__liked {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fb2539;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    position: absolute;
    right: -9px;
    top: -5px;
    font-style: normal; }

.headerBottom {
  background: #3c3f43; }
  .headerBottom__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 54px; }
  .headerBottom .catalog {
    -webkit-flex-basis: 234px;
        -ms-flex-preferred-size: 234px;
            flex-basis: 234px; }
  .headerBottom .mainNavi {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.catalog {
  background: #fb2539;
  padding: 0 20px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .catalog__header {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #fff;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__title {
    font-size: 16px;
    position: relative;
    top: -1px; }
  .catalog__burger {
    position: relative;
    top: -3px;
    width: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .catalog__burger span {
      background: #fff;
      height: 2px;
      margin: 4px 0 0 0;
      width: 100%; }
      .catalog__burger span:nth-child(1) {
        width: 85%; }
      .catalog__burger span:nth-child(2) {
        width: 65%; }

.mainMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .mainMenu__item {
    border-right: 1px solid #5a5e63;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .mainMenu__item--stocks i {
      width: 19px;
      height: 19px;
      background-position: -240px 0;
      margin-right: 9px;
      top: -1px; }
    .mainMenu__item--tests i {
      width: 27px;
      height: 17px;
      background-position: -270px 0;
      margin-right: 10px;
      top: -2px; }
    .mainMenu__item--select i {
      width: 21px;
      height: 21px;
      background-position: -300px 0;
      margin-right: 11px;
      top: -1px; }
    .mainMenu__item--news i {
      width: 20px;
      height: 15px;
      background-position: -330px 0;
      margin-right: 11px; }
  .mainMenu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mainMenu__icon {
    background: url(../img/mx.png) no-repeat;
    position: relative; }
